[Unit]
Description=CareerPilot Streamlit Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/www/CareerPilotDJY
EnvironmentFile=-/www/CareerPilotDJY/.env
ExecStart=/www/CareerPilotDJY/.venv_server/bin/python /www/CareerPilotDJY/serve.py
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target
